@page "{restaurantId:int?}"
@using OdeToFood.Core

@model mydemo_OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit " + Model.Restaurant.Name;
}

<h2>Editing @Model.Restaurant.Name</h2>
<div class="row">
    <div class="col-lg-4">
        <form method="post">
            <input type="hidden" asp-for="Restaurant.Id" />
            <div class="form-group">
                <label asp-for="Restaurant.Name"></label>
                <input asp-for="Restaurant.Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Location"></label>
                <input asp-for="Restaurant.Location" class="form-control" />
                <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Cuisine"></label>
                <select asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines" class="form-control"></select>
                <span class="text-danger" asp-validation-for="Restaurant.Cuisine"></span>
            </div>
            <button type="submit" class="btn btn-primary center-block">Save</button>
        </form>
    </div>
    <div class="col-lg-8">
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}